.KYC__icon {
  width: 24px;
  height: 24px;
  margin: 10px 0;
  cursor: pointer;
}

.KYC__container {
  background-color: #43454c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  color: white;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
}
