mybutton{
    background: linear-gradient(90deg, rgba(44, 115, 210, 0.72) 1.15%, #845EC2 94.84%);
    padding: 0.4rem 2.5rem;
    border: none;

}
.submitBtn .mybtn{
    background: linear-gradient(to right, #565bd0, #cb5fc6);
    width: 100%;
    border: none;
    text-decoration: none;
    padding: 10px;

}



