.status{
font-family: Lato;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: white;
text-align: center;
padding: 8px;
border-radius: 8px;


}









.web__status{

    background: linear-gradient(90deg, rgba(44, 115, 210, 0.75) 1.15%, rgba(132, 94, 194, 0.75) 94.84%);

}


.mobile__view{
  display: none;
}
.home__page-bg{

    background: #F3F3F4;
    max-width: 100%;


}

.reels_bg{
    background-color: white;
    margin: 0 ;

    max-width: 100%;
}

.web__status{
    font-family: Lato;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
border-radius: 20px;


}


@media (max-width: 767px){
    .mobile__view{
        display: block;
    }
    .web__status{
        display: none;
    }
}