.card-top{
    margin-left: 20px;
    margin-bottom: 100px;
   
}
.col-md-5{
    background-color: rgb(137, 136, 136);
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius:5px;
    height: 900px;
   
    
}
h6{
    color: rgb(10, 10, 10);
}
.input{
    width: 90%;
    margin-left: 15px;
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    color: black;
    padding: 20px; 
}
label{
    margin-left: 15px;
    font-weight: 600;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
    border-bottom: 1px solid #C4C4C4;
}
.list p{
    border: none;
    border-radius: 20px;
    background-color: #EFF6FF;
    height: 40px;
    width: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
.bttn{
    border: none;
    width: 60%;
    background: linear-gradient(to right, #2C73D2, #845EC2);
    border-radius: 5px;
    margin-top: 60px;
    height: 40px;
    color: white;
    position: relative;
    bottom: 230px;
    left: 20%;
}
fieldset img{
    position: relative;
    bottom: 40px;
}
.form{
    position: relative;
    bottom: 140px;
    font-size: 15px;
}
.hobbies{
    position: relative;
    bottom: 150px;
}
.hobbies p{
    
    font-weight: 600;
    margin-left: 15px;
}
.container{
    margin-top: 20px;
    width: 100%;
}
.card{
    height: 840px;
    background-color: #ffff;
    border-radius: 5px;
}
.card-body{
    width: 100%;
}
.col-md-1{
    font-size: 14px;
    height:400px;
    
}
.card-top-pic{
    position: relative;
    bottom: 20px;
}
.card-top{
    text-align: center;
    position: relative;
    bottom: 80px;
}
.card-topp2{
    height:700px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
}
.follow{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.balance{
    line-height: 5px;
    background: #F3F3F4;
    width: 150px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
.pen{
    position: relative;
    bottom: 165px;
    right: 6%;
    background-color: rgb(252, 252, 252);
    padding-top: 6px;
    padding-bottom: 6px;
    /* height: 20px;
    width: 20px; */
    border-radius: 44%;
}
.pen2{
    position: relative;
    bottom: 13%;
    left: 95%;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 40%;
}
.span{
    position: relative;
    float: right;
    right: 30px;
    font-weight: 600;
}
.span-s{
    position: relative;
    float: right;
    font-weight: 600;
    bottom: 40px;
    right: 30px;
}
.social img{
    padding: 10px
}
.card-img-top{
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.socials .SocialLinks{
    cursor: pointer;
}

