.img--holder{
    width: 4rem;
    height: 4rem;
    border: 1px solid;
    border-radius: 50%;
    outline: 3px solid #FFFFFF;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    top: -29px;
    
}
.sidebar--img{
    background-position:center;
    background-size: cover;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.balance--holder{
    background: #F3F3F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
font-size: 14px;

    margin: 12px 12px;
    padding:  5px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card__main-balance{
    font-weight: 800;
    font-size: 16px;
}
.card--balance{
    font-weight: 500;
    font-size: 14px;
}
.card__desc{
    font-family: Lato;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: center;

}
.paragraph__desc{
font-family: Open Sans;
font-size: 14px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
display: flex;
justify-content: space-around;


}