.home__icon-holder{
width: 48px;
height: 48px;
}
.home__icon{
    width: 100%;
    cursor: pointer;
}
.home__navtext{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #727479;
}
.search__holder{

    flex-basis: 2;
}

.show__tilte{
    color: #000;
    text-decoration: none;
    text-underline-offset: none;
}
.home__search-input{
    width: 100%;
    background: #E7E8E9;
border-radius: 8px;
padding: 32px 16px;
height: 56px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 17px;
border: none;
outline: none;
}
.home__search-input::placeholder{
    padding: 32px 25px;
    font-family: 'Lato';
}
.home__search-icon{
position: absolute;
 top: 22px;
padding: 0 16px;
}
.home__navs-avatar{

}
.home__avatar--desc-holder{
    display: flex;
}
.home__navs-avatar{
    margin-right: auto;
    display: flex;
    flex-direction: column;  
}

.avatar__holder{
display: flex;
justify-content: flex-end;
}
.avatar__width{

    
}
.hand__burger_icon{
    cursor: pointer;
}
.home__icon-holders{
    max-width: 40px;
    max-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.notifications{
    position: absolute;
    top: -8px;
    right: -2px;
    color: red;
    font-size: 10px;
}

@media (max-width: 990px) {
    .user__profile{
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
    }
    .show__tilte{
        display: none;
    }
   
   
    /* d-flex  justify-content-end align-items-baseline */
}
@media (max-width: 766px) {
    .search__visibility{
        display: none;
    }
    .home__icon-holder{
        width: 40px;;
        height: 40px;
    }
   
   
    .home__icon-holders{
        max-width: 20px;
        max-height:20px;
        text-align: center;
    }
    
    .user__profile{
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
    }
    
}
@media (min-width: 990px) {

    .user__profile{
        display: flex;
        justify-content: flex-end;
        gap: 4rem;
    }
}
/* @media (min-width: 990px) {
    .user__profile{
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
    }
    
} */
@media (min-width: 767px) {
    .meIcon__visibility{
        display: flex;
   
    }
    .notifications{
        font-size: 16px;
    }
    .hand__burger_icon{
     display: none;   
    }
        
}
