.add-links{
    cursor: pointer;
}
.modal_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-left: 2%;
    padding-top: 16px;
    line-height: 19px;
    color: #121212;

}
.para{
    background: #E7E8E9;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    gap: 16px;
    height: 34px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;

}